{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Pureweber2016招新{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<form method="POST" role="form" class="form-horizontal" id="data-form">
    {% csrf_token %}
    <h3 class="form-signin-heading text-center" style="margin-top:0px;">报名</h3>

    <div class="form-group">
        <label for="id_name" class="col-md-3 control-label">姓名：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" required name="name" id="id_name">
        </div>
    </div>

    <div class="form-group">
        <label for="id_stdno" class="col-md-3 control-label">学号：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" required name="student_num" id="id_stdno">
        </div>
    </div>

    <div class="form-group">
        <label for="id_college" class="col-md-3 control-label">学院：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" required name="college" id="id_college">
        </div>
    </div>

    <div class="form-group">
        <label for="id_phone" class="col-md-3 control-label">手机：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" required name="phone" id="id_phone">
        </div>
    </div>

    <div class="form-group">
        <label for="id_qq" class="col-md-3 control-label">QQ：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" required name="qq" id="id_qq">
        </div>
    </div>

    <div class="form-group">
        <label for="id_intro" class="col-md-3 control-label">自我介绍：</label>
        <div class="col-md-6">
            <textarea type="text" class="form-control" required name="introduction" id="id_intro"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 col-md-offset-5 text-center">
            <button class="btn btn-info" id="submit-btn" type="submit">提交</button>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}