{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>

</head>
<body>
<header class="jumbotron subhead" id="header-base">
    <div class="container text-center">
        <h2>提交报名</h2>
    </div>
</header>
<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			<form method="POST" role="form" class="form-horizontal" id="data-form">
				{% csrf_token %}

				<div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" required name="name" placeholder="姓名">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" required name="student_num" placeholder="学号">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" required name="college" placeholder="学院">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" required name="phone" placeholder="手机">
					</div>
				</div>

                <div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" required name="qq" placeholder="QQ">
					</div>
				</div>

                <div class="form-group">
					<div class="col-md-9">
						<textarea class="form-control" required name="introduction" placeholder="自我介绍"></textarea>
					</div>
				</div>


				<div class="form-group">
					<div class="col-md-2 col-md-offset-5 text-center">
                        <button class="btn btn-default" id="submit-btn">报名</button>
                    </div>
				</div>
			</form>
		</div>
	</div>
</div>

<footer class="footer" role="contentinfo">
<hr>
<div class="container">
    <p class="text-center"><strong>Pureweber</strong></p>
    <p class="text-center">©All rights reserved</p>
    <h5 class="text-center"> Powered by&nbsp;CatYing</h5>
</div>
</footer>
<script type="text/javascript">
    $('#{{active_page}}').addClass("active");
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
</script>
</body>
</html>

<script>
    $('#submit-btn').click(function (e) {
        e.preventDefault();
        if('' != $('#id_phone').val()) {
            $.ajax({
                type: "POST",
                dataType: 'json',
                data: $('#data-form').serializeArray(),
                url:'{% url "create_person_view" %}',
                success:function(data){
                    var state = data.state;
                    if(state == 'success'){
                        confirm("报名成功");
                    } else {
                        confirm("服务器拒绝了您的请求，还对您放了个屁");
                    }
                },
                error: function(data){
                    confirm("一定是你写的有问题！才不是程序猿的锅！");
                    console.log(data);
                }
            });
        }
    });
</script>
